In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mar Del Plata,AR,2022-07-11 07:32:11,-38.0023,-57.5575,51.10,81,0,11.99
1,1,Qaanaaq,GL,2022-07-11 07:33:33,77.4840,-69.3632,39.87,94,100,1.92
2,2,Busselton,AU,2022-07-11 07:33:34,-33.6500,115.3333,59.49,66,70,5.14
3,3,Tuatapere,NZ,2022-07-11 07:33:34,-46.1333,167.6833,35.06,86,45,4.43
4,4,Aykhal,RU,2022-07-11 07:33:34,66.0000,111.5000,57.07,87,100,4.54

In [3]:
# get data types
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [7]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)

# Add the heatmap layer.
fig.add_layer(heat_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [18]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [19]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
11,11,Hithadhoo,MV,2022-07-11 07:33:36,-0.6000,73.0833,82.81,71,100,4.74
13,13,Vaini,TO,2022-07-11 07:33:37,-21.2000,-175.2000,75.36,83,75,11.50
18,18,Luganville,VU,2022-07-11 07:32:44,-15.5333,167.1667,78.69,82,35,6.11
19,19,Cockburn Town,TC,2022-07-11 07:33:39,21.4612,-71.1419,81.05,81,100,19.64
21,21,Honiara,SB,2022-07-11 07:33:39,-9.4333,159.9500,78.51,86,23,3.53
23,23,Grand Gaube,MU,2022-07-11 07:33:40,-20.0064,57.6608,76.37,68,1,11.99
37,37,Butaritari,KI,2022-07-11 07:33:44,3.0707,172.7902,82.60,78,100,16.04
38,38,Hilo,US,2022-07-11 07:33:44,19.7297,-155.0900,75.27,81,20,4.00
40,40,Labuhan,ID,2022-07-11 07:33:45,-6.8844,112.2051,87.55,57,99,7.76
48,48,Kapaa,US,2022-07-11 07:34:47,22.0752,-159.3190,78.78,86,20,17.27

In [20]:
preferred_cities_df.count()

City_ID       186
City          186
Country       186
Date          186
Lat           186
Lng           186
Max Temp      186
Humidity      186
Cloudiness    186
Wind Speed    186
dtype: int64

In [21]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
11      Hithadhoo      MV     82.81  -0.6000   73.0833
13          Vaini      TO     75.36 -21.2000 -175.2000
18     Luganville      VU     78.69 -15.5333  167.1667
19  Cockburn Town      TC     81.05  21.4612  -71.1419
21        Honiara      SB     78.51  -9.4333  159.9500
23    Grand Gaube      MU     76.37 -20.0064   57.6608
37     Butaritari      KI     82.60   3.0707  172.7902
38           Hilo      US     75.27  19.7297 -155.0900
40        Labuhan      ID     87.55  -6.8844  112.2051
48          Kapaa      US     78.78  22.0752 -159.3190

In [25]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [27]:
hotel_df.head()

             City Country  Max Temp      Lat       Lng           Hotel Name
11      Hithadhoo      MV     82.81  -0.6000   73.0833    Scoop Guest House
13          Vaini      TO     75.36 -21.2000 -175.2000  Keleti Beach Resort
18     Luganville      VU     78.69 -15.5333  167.1667   The Espiritu Hotel
19  Cockburn Town      TC     81.05  21.4612  -71.1419   Osprey Beach Hotel
21        Honiara      SB     78.51  -9.4333  159.9500  Heritage Park Hotel

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]